/* Portfolio */

.portfolio {
  border-top: 1px solid #ececec;
}

/* Portfolio tabs */

.portfolio-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-inset:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;

  border-style: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-bg-color);
  cursor: pointer;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);

  color: var(--primary-white-color);
}

/* Portfolio list */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  width: calc(100% / 3 - 30px);
  margin: 15px;
}

.portfolio-list-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list-stick {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgb(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.portfolio-list-link:hover .portfolio-list-stick,
.portfolio-list-link:focus .portfolio-list-stick {
  transform: translateY(0);
}

.portfolio-label {
  border: 1px solid #eeeeee;
  border-top-style: none;

  padding: 20px 24px;
}

.portfolio-name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
