/* General classes */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

/* Hero */

.hero-overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  background-position: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Feautures */

.feautures {
  padding-top: 94px;
}

.feautures-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.feauture-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.feauture-icon-wrapper {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Before icons example */
/* .feauture-item::before {
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
}

.feauture-item:nth-child(1)::before {
  background-image: url('../images/feautures-01.svg');
}
.feauture-item:nth-child(2)::before {
  background-image: url('../images/feautures-02.svg');
}
.feauture-item:nth-child(3)::before {
  background-image: url('../images/feautures-03.svg');
}
.feauture-item:nth-child(4)::before {
  background-image: url('../images/feautures-04.svg');
} */

.feauture-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.feauture-descr {
  line-height: 1.71;
}

/* Activity */

.activity-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.activity-list-item {
  position: relative;

  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.activity-list-name {
  position: absolute;

  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Team */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: var(--primary-white-color);
}

.team-label {
  padding: 30px 32px;

  text-align: center;
}

.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

/* ===================  CLIENTS ============================ */

.clients-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  width: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  width: 170px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #afb1b8;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);

  color: var(--accent-color);
}

.clients-list-icon {
  fill: currentColor;
}

/* ===================  END CLIENTS ======================== */

/* ===================  MODAL ============================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 582px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.personal-caption {
  display: block;
  margin-bottom: 30px;

  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.personal-data-label {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.personal-data-text {
  position: absolute;
  transform: translateY(calc(-100% - 4px));
}

.personal-data-input {
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.personal-data-input:focus {
  border-color: var(--accent-color);
}

.personal-data-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data-input:focus + .personal-data-icon {
  fill: var(--accent-color);
}

.personal-data-label.comment {
  margin-bottom: 20px;
}

.personal-data-input.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.personal-data-input.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.personal-cb-wrapper {
  margin-bottom: 30px;

  text-align: center;
}

.personal-cb-label::before {
  content: '';
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-origin: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-cb-input:checked + .personal-cb-label::before {
  background-image: url('../images/check.svg');
  background-color: var(--accent-color);
  border-color: transparent;
}

.personal-cb-label {
  line-height: 1.71;
}

.personal-cond-link {
  color: var(--accent-color);
}

.accent-btn.personal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .modal-close-icon,
.modal-close:focus > .modal-close-icon {
  fill: var(--accent-color);
}
/* ===================  END MODAL ========================== */
